#canvas {
  background-color: white;
  border-radius: 10px;
}

.supertext {
  font-weight: bold;
  margin-bottom: 0px;
}

.subtext {
  font-weight: normal;
  font-size: larger;
}

.room-code-anim {
	-webkit-animation: room-code-anim 5s ease-in-out infinite both;
	        animation: room-code-anim 5s ease-in-out infinite both;
}

@-webkit-keyframes room-code-anim {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  25% {
    -webkit-transform: scale(1.1) rotateZ(2deg);
            transform: scale(1.1) rotateZ(2deg);
  }
  50% {
    -webkit-transform: scale(1) rotateZ(0deg);
            transform: scale(1) rotateZ(0deg);
  }
  75% {
    -webkit-transform: scale(1.1) rotateZ(-2deg);
            transform: scale(1.1) rotateZ(-2deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(0deg);
            transform: scale(1) rotateZ(0deg);
  }
}

@keyframes room-code-anim {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  25% {
    -webkit-transform: scale(1.1) rotateZ(2deg);
            transform: scale(1.1) rotateZ(2deg);
  }
  50% {
    -webkit-transform: scale(1) rotateZ(0deg);
            transform: scale(1) rotateZ(0deg);
  }
  75% {
    -webkit-transform: scale(1.1) rotateZ(-2deg);
            transform: scale(1.1) rotateZ(-2deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(0deg);
            transform: scale(1) rotateZ(0deg);
  }
}
