.title {

  font-family: 'Luckiest Guy';
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow:   0px -3px 0 #212121,  
                 0px -3px 0 #212121,
                 0px  3px 0 #212121,
                 0px  3px 0 #212121,
                -3px  0px 0 #212121,  
                 3px  0px 0 #212121,
                -3px  0px 0 #212121,
                 3px  0px 0 #212121,
                -3px -3px 0 #212121,  
                 3px -3px 0 #212121,
                -3px  3px 0 #212121,
                 3px  3px 0 #212121,
                -3px  9px 0 #212121,
                 0px  9px 0 #212121,
                 3px  9px 0 #212121,
                 0 9px 1px rgba(0,0,0,.1),
                 0 0 3px rgba(0,0,0,.1),
                 0 3px 3px rgba(0,0,0,.3),
                 0 6px 3px rgba(0,0,0,.2),
                 0 9px 9px rgba(0,0,0,.25),
                 0 12px 12px rgba(0,0,0,.2),
                 0 18px 18px rgba(0,0,0,.15);
}

ul {
  list-style-type: none;
}

.button {
  background-color: whitesmoke;

  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 5px -4px rgba(0,0,0,0.63);
  color: black;
  text-align: center;
  font-size: 16px;
}

.button:hover {
  background-color: lightgray;

  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 5px -4px rgba(0,0,0,0.63);
  color: black;
  text-align: center;
  font-size: 16px;
}

.button:active {
  background-color: gray;

  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 5px -4px rgba(0,0,0,0.63);
  color: black;
  text-align: center;
  font-size: 16px;
}

.input-view[type="text"] {
  background-color: white;
  padding: 1%;
  border-radius: 10px;
  box-shadow: 3px 3px 5px -4px rgba(0,0,0,0.63);
  
  text-align: center;
  font-size: 16px;
}

.panel {
  background-color: white;
  padding: 1%;
  margin-bottom: 10px;

  border-radius: 10px;
  box-shadow: 3px 3px 5px -4px rgba(0,0,0,0.63);
  font-size: 16px;
}

.title-anim {
	-webkit-animation: title-anim 5s ease-in-out infinite both;
	        animation: title-anim 5s ease-in-out infinite both;
}

@-webkit-keyframes title-anim {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  25% {
    -webkit-transform: scale(1.05) rotateZ(2deg);
            transform: scale(1.05) rotateZ(2deg);
  }
  50% {
    -webkit-transform: scale(1) rotateZ(0deg);
            transform: scale(1) rotateZ(0deg);
  }
  75% {
    -webkit-transform: scale(1.05) rotateZ(-2deg);
            transform: scale(1.05) rotateZ(-2deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(0deg);
            transform: scale(1) rotateZ(0deg);
  }
}

@keyframes title-anim {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  25% {
    -webkit-transform: scale(1.05) rotateZ(2deg);
            transform: scale(1.05) rotateZ(2deg);
  }
  50% {
    -webkit-transform: scale(1) rotateZ(0deg);
            transform: scale(1) rotateZ(0deg);
  }
  75% {
    -webkit-transform: scale(1.05) rotateZ(-2deg);
            transform: scale(1.05) rotateZ(-2deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(0deg);
            transform: scale(1) rotateZ(0deg);
  }
}
