/*
  global styles
*/

* {
  font-family: "Rubik", sans-serif;
}

/*html {
  background-color: powderblue;
}*/

h1 {
  font-family: "Luckiest Guy", sans-serif;
  text-align: center;
}

button[disabled] {
  background:#ccc;
  border-color: #ccc;
  text-shadow:none;
}

.center {
	text-align: center;
}